extends layout
block content
	h1 Aplicações Real-time com Node.js
	h3 Admin
	#connect_status
	script
		var socket = io.connect('#{host}');
		socket.on('admin', function(data){
			$('#connect_status').css('background-color', data.color);
		});