extends layout
block content
	h2 Controle da palestra
	include _buttons
	script
		var socket = io.connect('#{host}');
		socket.emit('admin_connection');
		$('#next').click(function(){
			socket.emit('admin_slide_next');
		});
		$('#prev').click(function(){
			socket.emit('admin_slide_prev');
		});
		$(window).on('unload', function(){
			socket.emit('admin_disconnection');
		});		