extends layout
block content
	h1 Aplicações Real-time com Node.js
	#connect_status
		#offline Offline
		#online Conectado
		#admin Tem Admin
	include _slides
	script
		$('#slide_1').show();
		var socket = io.connect();
		socket.emit('public_connection', function(){
			$('#offline').hide();
			$('#online').show();
			$('#admin').hide();
		});
		socket.on('admin_online', function(){
			$('#admin').show();
		});
		socket.on('admin_offline', function(){
			$('#admin').hide();
		});