!!! 5
html
	head
		title Aplicações Real-time com Node.js | Exatec
		link(href='/css/core.css', screen='media', rel='stylesheet')
		script(src='/js/zepto.min.js')
		// if lt IE 9
			script(src='/js/html5.min.js')
		script(src='/socket.io/socket.io.js')
	body
		block content