extends layout
block content
	h1 Acesso controle da apresentação
	#main_login
		form(action='/admin', method='post')
			label Login:<br>
			input(type='text', name='user[login]', maxlength='10', id='login')
			br
			label Password: <br>
			input(type='password', name='user[password]', maxlength='10')
			br
			button(type='submit') Login
	script
		$(function(){
			$('#login').focus();
		});