extends layout
block content
	h1 Aplicações Real-time com Node.js
	#main_login
		h3 Login
		form(action='/admin', method='post')
			label Login:
				input(type='text', name='user[login]', maxlength='10')
			br
			label Password:
				input(type='password', name='user[password]', maxlength='10')
			br
			button(type='submit') Login