body{
	font: 14px/1.2 Verdana;
	margin-top: 0px;
	background-color: #FFF;
}
.navigation{
	width: 128px;
	height: 128px;
	cursor: pointer;
}
.prev{
	background: url('../img/prev.png');
	float: left;
}
.next{
	background: url('../img/next.png');
	float: right;
}
.controls{
	width: 320px;
	margin: 0 auto;
	text-align: center;
}
.presentation{ 
	width: 1290px;
	height: 768px;
	margin: 0 auto;
	text-align: center;
}
.presentation .navigation{
	margin-top: 300px;
}
.slide {
	font-size: 48px;
	display: none;
}
.active{
	display: block !important;
}
.login{
	width: 240px;
	height: auto;
	text-align: center;
	padding: 10px 3px 30px;
	border: 1px solid #333;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
input {
	line-height: 2em;
	width: 80%;
	font-size: 16px;
}
button {
	font-size: 20px;
	width: 75%;
	border: 1px solid #333;
	background: #fff;
	padding: 4px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}